@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:wght@400;700&display=swap");

:root {
    @each $name, $color in $colors {
        --#{$name}: $color;
    }
    @each $name, $breakpoint in $breakpoints {
        --breakpoint-#{$name}: $breakpoint;
    }
    --font-family-monospace: "Ubuntu", sans-serif;
    --font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

body,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    // font-family: $font-family1;
}

.ion {
    position: relative;
    top: 0.25rem;
}

// Light Mode
.light {
    div,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    li,
    label {
        color: $gray-matte;
    }
}

// Dark Mode
.dark {
    div,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    li,
    label {
        color: $gray-light;
    }
}
